# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.python-version

# Environment
.env
.env.local
.venv/
venv/

# Training Data
/training/

# Models
/models/

# System
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Flask
/static/temp_uploads/
/static/processed_images/

# Jupyter
.ipynb_checkpoints/
*.ipynb
